.dialogContainer {
  display: flex;
  margin-bottom: 20px;
  min-height: 30px;
  color: #12E2DC; 
  justify-content: center;
  width: 150px;
  border: 1px solid #12E2DC;
  border-radius: 10px;
  font-size: 16px;
  transition-duration: 1s;
  transition-timing-function: linear;
  padding: 10px;
  font-family: monospace;
}

.loader {
  border: 10px solid rgba(211, 211, 211, 0.378); /* Light grey */
  border-top: 10px solid #12E2DC; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
